@model LR_5.Models.TeoryCreateViewModel

<style>
    body {
        font-family: Arial, sans-serif;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    .display-4 {
        color: #007bff;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            color: #fff;
        }
</style>

<h1>Редактирование записи</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div>
        <label asp-for="GroupId">Group</label>
        <select asp-for="GroupId" class="form-control">
            @foreach (var group in ViewBag.Groups as List<LR_5.Models.Group>)
            {
                <option value="@group.GroupId">@group.TypeGroup (@group.GroupId)</option>
            }
        </select>
    </div>

    <div>
        <label asp-for="DateL">Date</label>
        <input asp-for="DateL" type="date" class="form-control" />
    </div>

    <div>
        <label asp-for="TimeL">Time</label>
        <input asp-for="TimeL" type="time" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>